@import 'tailwindcss';

@theme {
  --color-pastel-turquoise: #8accd5;
  --color-pastel-pink: #ff90bb;
  --color-pastel-pink-hover: #ff7ab0;
  --color-pastel-pink-light: #ffc1da;
  --color-pastel-teal-dark: #6b9ba3;
  --color-pastel-teal-light: rgba(138, 204, 213, 0.1);
  --color-pastel-teal-medium: rgba(138, 204, 213, 0.2);
  --color-pastel-cream: #f8f8e1;
  --color-pastel-white: #ffffff;
  --color-pastel-gray-dark: #333333;
  --color-pastel-gray-medium: #666666;
  --color-pastel-gray-dark-transparent: rgba(51, 51, 51, 0.8);
}

html {
  @apply caret-pastel-turquoise selection:bg-pastel-turquoise;
}

input {
  @apply placeholder:text-pastel-gray-medium;
}

.warning-btn {
  @apply bg-orange-600 hover:bg-orange-700;
}

.danger-btn {
  @apply bg-rose-600 hover:bg-rose-700;
}
